[submodule "mediawiki/extensions/Math"]
	path = mediawiki/extensions/Math
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Math
[submodule "mediawiki/extensions/MathSearch"]
	path = mediawiki/extensions/MathSearch
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MathSearch
[submodule "mediawiki/extensions/SemanticDrilldown"]
	path = mediawiki/extensions/SemanticDrilldown
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/SemanticDrilldown.git
[submodule "mediawiki/extensions/AutoSitemap"]
	path = mediawiki/extensions/AutoSitemap
	url = https://github.com/dolfinus/AutoSitemap
[submodule "mediawiki/extensions/Scribunto"]
	path = mediawiki/extensions/Scribunto
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Scribunto
[submodule "mediawiki/extensions/Wikibase"]
	path = mediawiki/extensions/Wikibase
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Wikibase.git
[submodule "core"]
	path = core
	url = https://gerrit.wikimedia.org/r/mediawiki/core
[submodule "mathoid"]
	path = mathoid
	url = https://gerrit.wikimedia.org/r/mediawiki/services/mathoid
